@use "variables" as *;
@use "mixins" as *;

$footer-text-grey: #666;

footer {
  background-color: $footer-background;
  @include setFont(500);
  color: $footer-text-grey;
  margin: 0;
  padding: 2rem 1rem;

  > ul {
    list-style: none;
    li {
      padding-bottom: 1rem;
    }
    @media (min-width: 22.5em) {
      @include setEvenGrid(2);
      margin: 1rem;
    }
    @media (min-width: 33.5em) {
      @include setEvenGrid(4);
      margin: 1rem;
      margin-left: 5%;
    }
  }
}
