@use "variables" as *;
@use "mixins" as *;
@use "in-the-news";

$footer-text-grey: #666;

footer {
  @include setFont(500);
  color: $footer-text-grey;
  margin: 0;
  padding: 2rem 0;
  width: 100%;

  section.audio-engine-video {
    width: 100%;
    .video-container {
      position: relative;
      width: 100%;
      font-size: 3rem;
      h2 {
        @include setFont(600);
        font-size: 0.6em;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 #d7dbde;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 10%;
        @media (min-width: 35.6em) {
          font-size: 0.8em;
        }
      }
      button.play-button {
        border: none;
        background-color: transparent;
        width: fit-content;
        height: unset;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 40%;
        i.fa-play {
          color: $brand-color;
          width: 100%;
          font-size: 120%;
          @media (min-width: 32em) {
            font-size: 140%;
          }
        }
      }
      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  section.social-media {
    padding: 1rem;
    border-bottom: 1px solid black;
    background-color: $secondary-color;
    // Jump to top button
    div.to-top {
      a {
        @include setFont(600, $brand-color);
      }
      margin: 2rem 1rem;
      margin-left: 5%;
    }
    div.social-media-links {
      @include setFlex(column, start);
      gap: 1rem;
      margin: 2rem 1rem;
      .icons {
        @include setFlex();
        gap: 1rem;
        .circle {
          background-color: $header-background;
          border-radius: 50%;
          position: relative;
          width: 100%;
          @include makeSquare(45px);
          i {
            color: $secondary-color;
            width: fit-content;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 50%;
          }
        }
      }
      & .email {
        svg {
          margin-right: 5px;
          vertical-align: middle;
        }
        a {
          @include setFont(500, $footer-text-grey);
          text-transform: uppercase;
        }
      }
      @media (min-width: 38em) {
        @include setFlex(row);
        margin-left: 5%;
      }
    }
  }

  .links {
    padding: 1rem;
    background: $footer-background;
    ul {
      list-style: none;
      li {
        padding-bottom: 1rem;
      }
      @media (min-width: 22.5em) {
        @include setEvenGrid(2);
        margin: 1rem;
      }
      @media (min-width: 33.5em) {
        @include setEvenGrid(4);
        margin: 1rem;
        margin-left: 5%;
      }
    }
  }
}
