@use 'variables' as *;

@mixin setFont($weight, $family:$font-family){
    font-weight: $weight;
    font-family: $family;
    font-size: 1rem;
}

@mixin setEvenGrid($columns){
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
}