@use 'variables' as *;

@mixin button-customizable(
  $color: $brand-color,
  $radius: 0.3125rem,
  $text-color: $secondary-color,
  $border-color: $secondary-color
) {
  background-color: $color;
  border-radius: $radius;
  color: $text-color;
  text-transform: uppercase;
  padding: 0.7rem 1.5rem;
  border: 1px solid $border-color;
}

@mixin overlay (
    $opacity: 0.3,
    $z-index: 2,
) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, $opacity);
    z-index: $z-index; 
}