@use 'variables' as *;
@use 'mixins' as *;
h2 {
    @include uppercase;
    text-align: center;
    font-weight: 200;
}
.shop-by-room-or-service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem auto;
    width: 80%;
    .slick-prev {
        left: -7%;
        color: $brand-color;
        &::before {
            color: $brand-color;
        }
    }

    .slick-next {
        right: -7%;
        color: $brand-color;
        &::before {
            color: $brand-color;
        }
    }
    .image-container {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 2; 
            @include circle-shape;
        }
        p {
            position: absolute;
            z-index: 2;
            color: $secondary-color;
            @include uppercase;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 1.8rem;
        }
        img {
            display: block;
            @include circle-shape;
            background-color: $header-background;
            position: relative; 
            z-index: 1;
            
        }
    }
    @media (min-width: $tablet-size) {
        display: flex;
        justify-content: space-between;
        .image-container {
            margin: 0 1rem;
            p {
                font-size: 1.5rem;
            }
        }
    }
}