/* Sass Variables */
// Colors

$brand-color: #fc851e;
$secondary-color: #ffffff;
$header-background: #000000;
$navLink-hover-color: #343434;
$footer-background: #ebebeb;
$hover-color: #fc851e;

// Media Query

$tablet-size: 28.125em; 
$small-screen-laptop: 51.625em;
$desktop-size: 82.8125em;

// Font Family

$font-family: "Source Sans 3", "Times New Roman", sans-serif;
