/* Sass Variables */
// Colors

$brand-color: #fc851e;
$secondary-color: #ffffff;
$header-background: #000000;
$navLink-hover-color: #343434;
$footer-background: #ebebeb;
$hover-color: #fc851e;

// Media Query

$table-size: 30.0625em;
$small-screen-laptop: 48.0625em;
$desktop-size: 64.0625em;

// Font Family

$font-family: "Source Sans 3", "Times New Roman", sans-serif;
